@model IEnumerable<udemyMVC.Models.Seller>

@{
    ViewBag.Title = "Administración de vendedores";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblSellers">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.Birthday)</th>
			<th>@Html.DisplayNameFor(model => model.Street)</th>
			<th>@Html.DisplayNameFor(model => model.NoInt)</th>
			<th>@Html.DisplayNameFor(model => model.Urbanization)</th>
			<th>@Html.DisplayNameFor(model => model.City)</th>
			<th>@Html.DisplayNameFor(model => model.State)</th>
			<th>@Html.DisplayNameFor(model => model.Country)</th>
			<th>@Html.DisplayNameFor(model => model.ZipCode)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Name)</td>
			<td>@Html.DisplayFor(modelItem => item.LastName)</td>
			<td>@Html.DisplayFor(modelItem => item.Birthday)</td>
			<td>@Html.DisplayFor(modelItem => item.Street)</td>
			<td>@Html.DisplayFor(modelItem => item.NoInt)</td>
			<td>@Html.DisplayFor(modelItem => item.Urbanization)</td>
			<td>@Html.DisplayFor(modelItem => item.City)</td>
			<td>@Html.DisplayFor(modelItem => item.State)</td>
			<td>@Html.DisplayFor(modelItem => item.Country)</td>
			<td>@Html.DisplayFor(modelItem => item.ZipCode)</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.SellerId }) |
				@Html.ActionLink("Details", "Details", new { id = item.SellerId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.SellerId })
			</td>
		</tr>
		}
	</tbody>
</table>
@section Scripts{
	<script type="text/javascript">
		$(function () {
			$("#tblSellers").DataTable({
				//"pagingType": "full_numbers",
				"scrollY": "600px"
				, "columnDefs": [
					{ "width": "45px", "targets": 0 }
					, { "width": "45px", "targets": 1 }
					, { "width": "45px", "targets": 2 }
					, { "width": "45px", "targets": 3 }
					, { "width": "45px", "targets": 4 }
					, { "width": "45px", "targets": 5 }
					, { "width": "45px", "targets": 6 }
					, { "width": "45px", "targets": 7 }
					, { "width": "45px", "targets": 8 }
					, { "width": "45px", "targets": 9 }
					, { "width": "45px", "targets": 10 }
				]
				, "order": [[1, "desc"]]
				, "dom": 'Rlfrtip'
				, "stateSave": "true"
				, "lengthMenu": [[-1, 10, 20, 50, 100], ["Todo", 10, 20, 50, 100]]
				, "language": {
					"lengthMenu": "Mostrando _MENU_ registros por pagina",
					"zeroRecords": "No hay información - lo sentimos",
					"info": "Mostrando pagina _PAGE_ de _PAGES_",
					"infoEmpty": "No hay registros disponibles",
					"infoFiltered": "(Filtrado de _MAX_ total de registros)",
					"search": "Buscar:",
					"paginate": {
						"first": "Primero",
						"last": "Ultimo",
						"next": "Siguiente",
						"previous": "Anterior"
					}
				}
			});
		});
	</script>
}